@page
@model frznUpload.Web.Pages.UploadModel
@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = "Upload";
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;

}
<a asp-page-handler="Rename" data-csrf="@token" class="d-none" id="renameLink"></a>

<form asp-page-handler="Upload" class="box mb-2" method="post" enctype="multipart/form-data">
    <div id="uploadDropOver">
        <p class="display-4 start">Drag a file here</p>
        <label for="file" class="btn btn-primary start">Or select it manually</label>
        <input class="uploadFile start" type="file" name="file" id="file" />
        <button type="button" class="btn btn-primary start" id="screenshotButton" onclick="prepareScreenshot(true)">Or take a screenshot</button>
        <h6 class="error">Error while uploading</h6>
        <h6 class="completed">Done!</h6>
        <div class="uploadProgress"></div>
    </div>
</form>
<div class="text-center">
    <span id="uploadedSpan" class="mx-auto">Uploaded <a target="_blank" id="uploadedLink"></a> <button id="filenameButton" type="button" class="btn btn-secondary btn-sm"><i class="far fa-edit"></i></button></span>
</div>

<div class="shareCard mt-2">
    <div class="card">
        <div class="card-header">
            Share This file
        </div>
        <div class="card-body">
            <form method="post" id="shareForm">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 row flex-column">
                            <label asp-for="Share.Public">
                                <input asp-for="Share.Public" checked="checked" />
                                @Html.DisplayNameFor(m => m.Share.Public)
                                <i class="far fa-question-circle" asp-tooltip-for="Share.Public"></i>
                            </label>
                            <label asp-for="Share.PublicRegistered">
                                <input asp-for="Share.PublicRegistered" checked="checked" />
                                @Html.DisplayNameFor(m => m.Share.PublicRegistered)
                                <i class="far fa-question-circle" asp-tooltip-for="Share.PublicRegistered"></i>
                            </label>
                            <label asp-for="Share.FirstView">
                                <input asp-for="Share.FirstView" />
                                @Html.DisplayNameFor(m => m.Share.FirstView)
                                <i class="far fa-question-circle" asp-tooltip-for="Share.FirstView"></i>
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Share.Whitelisted">
                                <input asp-for="Share.Whitelisted" />
                                @Html.DisplayNameFor(m => m.Share.Whitelisted)
                                <i class="far fa-question-circle" asp-tooltip-for="Share.Whitelisted"></i>
                            </label>
                            <div class="form-group">
                                <label asp-for="Share.Whitelist"></label>
                                <i class="far fa-question-circle" asp-tooltip-for="Share.Whitelist"></i>
                                <input asp-for="Share.Whitelist" class="form-control" disabled="disabled" />
                                <span asp-validation-for="Share.Whitelist" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row flex-row">
                    <button type="submit" class="btn btn-success ml-4 flex-grow-0 mt-2" id="shareButton" disabled="disabled" data-toggle="popover" data-content="">Share</button>
                    <div class="shareUrlContainer flex-grow-1 flex-nowrap row flex-row ml-2 mr-5 mt-2">
                        <input class="form-control flex-grow-1" id="shareUrl" type="text" readonly>
                        <button class="btn btn-secondary flex-grow-0" id="shareUrlCopy" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="Url copied to Clipboard">
                            <i class="far fa-clipboard"></i>
                        </button>
                    </div>
                </div>

                <input asp-for="Share.FileId" id="fileId" hidden="hidden" />
            </form>
        </div>
    </div>
</div>


<!-- ScrrenshotModal -->
<div class="modal fade" id="screenshotModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Screenshot</h5>
                <button type="button" class="close" onclick="clearScreenshot(true)">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <video id="screenshotVideo" loop></video>

                <div class="screenshotContainer">
                    <canvas id="screenshotCanvas" data-toggle="tooltip" data-placement="top" title="Drag to crop the image"></canvas>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="clearScreenshot(true)">Cancel</button>
                <button type="button" class="btn btn-secondary" onclick="prepareScreenshot(true)">Change source</button>
                <button type="button" class="btn btn-secondary" onclick="takeScreenshot()">Retake screenshot</button>
                <button type="button" class="btn btn-secondary" id="recordButton">Record Video</button>
                <button type="button" class="btn btn-primary" id="screenshotUploadButton" onclick="uploadScreenshot()">Upload</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Upload.Screenshot.js" asp-append-version="true"></script>
    <script src="~/js/Upload.js" asp-append-version="true"></script>
    <script src="~/js/Upload.PWA.js" asp-append-version="true"></script>
}

@section Css {
    <link href="/css/Upload.css" rel="stylesheet">
    <link href="/css/Upload.Screenshot.css" rel="stylesheet">
}