@page "{path?}"
@model frznUpload.Web.Areas.Account.Pages.Files.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Files</h1>

<p>
    <a asp-area="" asp-page="/Upload">Upload New</a>
</p>
@if (Model.Path != "*")
{
<h6>
    Path: <a asp-route-path="">root</a>@Model.Path   <a class="d-inline-block ml-3" asp-route-path="*">Show all</a>
</h6>

}
else
{
    <a asp-route-path="">Show root</a>
}


<table class="table mb-6">
    <thead>
        <tr>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.Files[0].Filename)
            </th>
            <th class="d-none d-sm-table-cell" data-sortable="true">
                @Html.DisplayNameFor(model => model.Files[0].Size)
            </th>
            <th class="d-none d-xl-table-cell">
                @Html.DisplayNameFor(model => model.Files[0].Identifier)
            </th>
            <th class="d-none d-md-table-cell" data-sortable="true">
                @Html.DisplayNameFor(model => model.Files[0].Shares)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var directory in Model.Directories)
        {
            <tr data-path="@directory.Path">
                <td>
                    <i class="far fa-folder mr-1"></i>
                    @directory.Name
                </td>
                <td class="d-none d-sm-table-cell">
                </td>
                <td class="d-none d-xl-table-cell">
                </td>
                <td class="d-none d-md-table-cell">
                </td>
                <td>
                </td>
            </tr>
        }
        @foreach (var item in Model.Files)
        {
            <tr data-identifier="@item.Identifier">
                <td>
                    <i class="far fa-file mr-1"></i>
                    @(item.Filename + "." + item.Extension)
                </td>
                <td class="d-none d-sm-table-cell" data-bytes="@item.Size">
                    @Model.BytesToString(item.Size)
                </td>
                <td class="d-none d-xl-table-cell">
                    @(item.Identifier.Substring(0, Math.Min(item.Identifier.Length, 5)) + "...")
                </td>
                <td class="d-none d-md-table-cell" data-count="@item.Shares.Count">
                    <a asp-page="/Shares/Index" asp-route-fileId="@item.Identifier">@item.Shares.Count @(@item.Shares.Count == 1 ? "Share" : "Shares")</a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                    <a asp-page="./Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a>
                    <a asp-page="./Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt text-danger"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="/js/Files.js"></script>
}

@section Css {
    <link rel="stylesheet" href="/css/Files.css" />
}